body {
	color: #2BAE66;
	background-color: white;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.listbox {
    display: flex;
    flex-direction: row-reverse;
    margin-right: 4em;
    margin-top: 1em;
}

.deletebox {
    display: flex;
    justify-content: center;
    margin-right: 4em;
    margin-top: 1em; 
}

.titlebox {
    text-align: center;
}

.hl {
    position: relative;
    border-top: #2BAE66 solid 0.1em;
    padding: 0;
    margin-top: 2em;
    margin-bottom: 1.3em;
    width: 84%;
    left: 8%;
}

.infobox {
    display: flex;
    justify-content: space-between;
    font-size: 1em;
    color: black;
    margin-right: 10%;
    margin-left: 10%;
}

.contentbox {
    position: relative;
    border: solid 0.1em #2BAE66;
    width: 80%;
    padding: 2%;
    left: 8%;
    min-height: 20em;
    margin-top: 1.3em;
}

.contentbox span{
    color: black;
}

h1 {
    color: black;
}

a {
    font-size: 20px;
    font-weight: bold;
    border: solid 0.1em #2BAE66;
    border-radius: 1em;
    padding: 0.3em 1em;
}

a:link {
    color: #2BAE66;
    text-decoration: none;
}

a:visited {
    color: #2BAE66;
    text-decoration: none;
}

a:hover {
    color: darkgreen;
    text-decoration: none;
}

a:active {
    color: darkgreen;
    text-decoration: none;
}

.deletebox {
    margin-top: 5em;
}

#cat_link {
    color: black;
    font-size: 1em;
    font-weight: normal;
    border: none;
}

#cat_link:link {
    color: black;
}

#cat_link:visited {
    color: black;
}

#cat_link:hover {
    color: darkgreen;
}

#cat_link:active {
    color: darkgreen;
}