<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'detail.css' %}" style="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Batang&family=Hahmlet:wght@100&family=Nanum+Pen+Script&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail Page</title>
</head>
<body>
    <h1>📖 {{ post.title }}</h1>
    <div class="hl"></div>
    <div class="info">
        <div>조회수: {{ post.visit }}</div>
        <div>
            {% if not post.update_date %}
                <div>생성: {{ post.create_date }}</div>
            {% else %}
                <div>생성: {{ post.create_date }}</div>
                <div>수정: {{ post.update_date }}</div>
            {% endif %}
        </div>
    </div>
    <div class="hl"></div>
    <div class="content-box">{{ post.content }}</div>
    <a href="{% url 'home' %}" class="back">돌아가기</a>
    <div class="edit">
        <a href="{% url 'edit' post.pk %}">수정하기</a>
        <a href="{% url 'delete' post.pk %}">삭제하기</a>
    </div>
</body>
</html>