<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Base HTML</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
    {% block css %}
    <!-- 자식 템플렛 css -->
    {% endblock css %}
</head>
<body>
    <div class="header-box">
        <div>
            🥳 Welcome to Giman's Blog 🥳
        </div>
    </div>

    {% block body %}
    {% endblock body %}

    <div class="footer-box">
        Copyright © 2022 GimanPark
    </div>
</body>
</html>