<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'editSubject.css' %}">
    <title>editSubject</title>
</head>
<body>
    <h2>📓강의 수정하기</h2>
    <div class="hl"></div>
    <div>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button>수정하기</button>
        </form>
    </div>
    <a href="{% url 'home' %}" class="main">메인 페이지</a>
</body>
</html>