body {
    background-color: #DCE2F0;
    color: #50586C;
    font-family: 'Space Mono', monospace;
    text-align: center;
}

h1 {
    font-size: 60px;
}

input {
    background-color: #50586C;
    color: #DCE2F0;
}