<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'new.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Article</title>
</head>
<body>
    <div class="listbox">
        <a href="{% url 'list' %}" class="tolist">List</a>
    </div>
    <h1>New Article</h1>
    <div class="hl"></div>
    <form action="/new" method="post">
        {% csrf_token %}
        <div>
            <input type="text" name="title" placeholder="제목">
        </div>
        <div>
            <select name="category" required>
                <option value="no" disabled selected>카테고리 선택</option>
                <option value="hobby">취미</option>
                <option value="food">음식</option>
                <option value="coding">코딩</option>
            </select>
        </div>
        <div>
            <textarea name="content" rows="20" placeholder="본인의 이야기를 써보세요!"></textarea>
            <div class="buttonarea">
                <button type="submit" class="button-68" role="button">Post</button>
            </div>
        </div>
    </form>
</body>
</html>