<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'count.css' %}"
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Count Page</title>
</head>
<body>
    <h1>글자 수 세기</h1>
    <br />
    <form action="{% url 'result' %}" method="post">{% csrf_token %}
        <label for="text">입력란</label>
        <br />
        <br />
        <textarea name="text" id="text" cols="65" rows="20" placeholder="텍스트를 입력하세요"></textarea>
        <br />
        <br />
        <input type="submit" value="제출하기" />
    </form>
</body>
</html>