.container-box {
    width: 1080px;
}

.Status-bar {
    display: flex;
    position: sticky;
    top: 0;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    margin-left: 30px;
    margin-right: 30px;
}

.Time {
    font-size: 40px;
    color: gray;
}

.wifi-pic {
    height: 40px;
    width: 40px;
    font-size: 30px;
    color: gray;
    margin-right: 10px;
}

#battery {
    margin-right: 0;
}

.gray-border {
    border: solid rgba(128, 128, 128, 0.3) 2px;
    border-radius: 30px;
}

.appname-bar {
    color: red;
    font-size: 30px;
    margin-left: 30px;
    margin-top: 40px;
}

.schoolname-bar {
    display: flex;
    justify-content: space-between;
    font-size: 50px;
    font-weight: bold;
    margin-left: 30px;
    margin-right: 30px;
}

.schoolname-pic {
    width: 50px;
    height: 50px;
    margin-left: 40px;
}

.schedule-bar {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    flex-wrap: nowrap;
}
.schedule-box {
    flex: 0 0 70%;
    display: flex;
    padding-bottom: 200px;
    margin-left: 30px;
    margin-top: 30px;
    padding-top: 80px;
}

.schedule-pic {
    width: 80px;
    height: 80px;
    margin-left: 50px;
}

.schedule-text {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    justify-content: center;
}

.text-title {
    font-size: 50px;
    font-weight: bold;
}

.text-date {
    color: rgb(23, 122, 23);
    font-size: 20px;
}

.text-calender {
    background-color: rgba(128, 128, 128, 0.3);
    border-radius: 10px;
    width:fit-content;
    padding: 5px 10px;
    margin-top: 40px;
    font-size: 20px;
}

.menu-bar {
    display: flex;
    justify-content: space-evenly;
    margin-left: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.menu-circle {
    background-color:rgba(128, 128, 128, 0.3);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    text-align: center;
    line-height: 100px;
    font-size: 25px;
}

.advertisement-bar {
    margin-bottom: 40px;
}

.post-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.before-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 50px;
}

.post-title {
    font-size: 50px;
    font-weight: bold;
}

.more {
    font-size: 30px;
    color: red;
    line-height: 50px;
}

.list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 30px;
    margin-bottom: 50px;
}

.list-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}

.line-post {
    font-size: 30px;
    font-weight: bold;
    margin-right: 40px;
}

.line-title {
    font-size: 30px;
    color:rgba(128, 128, 128, 0.8);
}

.line-new {
    font-size: 30px;
    color: rgba(255, 0, 0, 0.7);
}

.page-bar {
    display: flex;
    background-color: white;
    z-index: 1;
    justify-content: space-between;
    align-items: center;
    padding: 40px 60px;
}

.page-image {
    width: 50px;
    height: 50px;
}

.navigation-bar {
    display: flex;
    background-color: lightgray;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.navigation {
    width: 50px;
    height: 50px;
}

.pos-sticky {
    position: sticky;
    bottom: 0;
}