.header-box {
    display: flex;
    justify-content: center;
    border: solid 0.1em gray;
    border-style: ridge;
    border-radius: 1em;
    margin: 1em 10%;
    padding: 1em 0;
}

.header-box div{
    font-family: 'Indie Flower', cursive;
    font-size: 3em;
}

.footer-box {
    position: fixed;
    bottom: 0;
    background-color: gray;
    color: white;
    padding: 0.5em 1em;
    width: 100%;
}